body {
    background-color: #f9f4f4;
    margin: 0;
}

/*
* {
    outline: solid yellow 1px
}
*/

.header {
    height: 90px;
    background-color: #c2c4df
    
}

.title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3em;
    letter-spacing: 1.5px;
    margin-top: 15px;
    margin-left: 30px;
    width: 255px;
    float: left;
}

.links {
    width: 420px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5em;
    margin-top: 15px;
    float: left;
}

.links a {
    color: black;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;   
}

.logo {
    width: 5px;
    float: right;
    padding-right: 120px;
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
}

.logo img {
    width: 100px;
}

.light_red {
    color: #e74a4a
}

.name {
    font-family: "Bebas Neue", sans-serif;
    vertical-align: -120px;
    font-size: 2em;
    text-align: center;
}

.arrow_name {
    font-family: "Againts", sans-serif;
    font-size: 2em;
    margin-left: 275px;
    margin-top: 40px;
}

.arrow {
    float: right;
    width: 500px;
    size: 50px;
}


.resize {
    width: 600px;
    height: auto
}

.me {
    width: 60%;
    float: right;
}

.about {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2em;
    text-align: center;
}

.text {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin: 100px 275px;
    position: absolute
}

.email {
    font-family: "Againts", sans-serif;
    font-size: 3em;
    text-align: center;
    margin: 200px 475px;
    position: absolute
}

.instagram {
    text-align: center;
    margin: 300px 600px;
    position: absolute
}

.resize_two {
    width: 100px;
    height: auto
}