body{
    background-color: #f9f4f4;
    margin: 0;
}

* {
    outline: solid yellow 1px
}

.header {
    margin: 0;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
}

.header img {
    width: 100%;
}